@import url("./financialReport.css");
@import url("./financialBalance.css");

@import url("./sponsors.css");

#team-standings{
    border-collapse: collapse;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    width: 100%;
}
#team-standings table{
    color: #202122;
    margin: 1em 0;
}
#team-standings th{
    background-color: #202122;
    color: #eaecf0;
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    text-align: center;
    font-size: 16px;
    white-space: nowrap;
}
#team-standings tr{
    border-top: 1px solid #3c4043;
}
#team-standings tr:nth-child(even){
    background-color: #f0f0f0;
}
#team-standings td{
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    font-size: 14px;
    white-space: nowrap;
}
#team-standings tr:hover{
    background-color: #ffff99;
    font-weight: bold;
}
#team-standings td:first-child{
    background-color: #202122;
    color: #eaecf0;
    max-width: 50px;
    padding: 0.2em;
    font-weight: bold;
}
#team-standings td:nth-child(2){
    min-width: 200px;
    font-weight: bold;
}
#team-standings td:nth-child(3){
    max-width: 50px;
    padding: 0.2em;
}

#season-overview table{
    color: #202122;
    margin: 1em 0;
    border-collapse: collapse;
    border: 1px solid #222;
    background-color: #f8f9fa;
    width: 100%;
}
#season-overview td{
    border: 1px solid #cbcbcc;
    border-bottom: 1px solid #888;
    padding: 0.2em 0.4em;
    font-size: 12px;
    white-space: nowrap;
}
#season-overview th{
    background-color: #101014;
    color: #f8f9fa;
    border: 1px solid #222;
    padding: 0.1em 0.2em;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    max-width: 35px;
}
#season-overview td:nth-child(2){
    min-width: 120px;
}
#season-overview tr:hover{
    background-color: #ffff99;
    font-weight: bold;
}
#season-overview td:nth-child(2){
    max-width: fit-content;
}

#season-overview td:first-child,
#season-overview td:last-child
{
    background-color: #eaecf0;
    background-color: #101014;
    color: #f8f9fa;
    border: 1px solid #222;
}

.first-position {
    background-color: #FFFFBF;
}
.second-position {
    background-color: #DFDFDF;
}
.third-position {
    background-color: #FFDF9F;
}
.scorer-position {
    background-color: #DFFFDF;
}
.non-scorer-position {
    background-color: #CFCFFF;
}
.retired-position {
    background-color: #EFCFFF;
}

#view-driver {
    display: flex;
}
#view-driver table{
    margin-bottom: 10px;
    min-width: 300px;
    padding: 0;
    height: fit-content;
    border-collapse: collapse;
    border: 2px solid #222;
}
#view-driver th{
    padding: 10px;
    font-family: "F1";
    background-color: #5c5c5c;
    color: #f5f5f5;
    border: 2px solid #222;
}
#view-driver h2{
    margin: 0;
}
#view-driver-driver-img {
    height: 300px;
    border: 1px solid #333;
    margin: 5px;
}
#view-driver td {
    text-align: start;
    padding: 5px;
}
#view-driver td:first-child {
    text-align: end;
    font-weight: bold;
    white-space: nowrap;
}
#view-driver-contract td{
    font-size: 14px;
}
#view-driver-contract th{
    font-size: 14px;
}
#view-eng {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#view-eng > div{
    display: flex;
    flex-direction: column;
}
#view-eng tr{
    padding: 2px;
}
#eng-stats {
    white-space: nowrap;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
}
#eng-stats > div{
    margin-bottom: 10px;
    padding: 5px;
    width: 120px;
    font-size: 14px;
}
#eng-stats > div h1{
    margin-bottom: 2px;
}
#eng-stats h1{
    margin: 0;
    background-color: #333;
    color: #f5f5f5;
}
#eng-stats td{
    border: 1px solid black;
    padding: 5px 10px;
}
#eng-stats tr:first-child{
    margin: 0;
    background-color: #333;
    color: #f5f5f5;
    padding: 10px;
    font-size: 20px;
}

#historic-tables {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    height: 100%;
    max-height: 60vh;
    overflow: overlay;
    justify-content: space-around;
}
#historic-tables div{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}
#historic-tables h1 {
    background-color: transparent;
    text-decoration: underline;
    font-size: 18px;
    color: #000;
}
#historic-tables table {
    width: 100%;
    border-collapse: collapse;
    color: #000;
    white-space: nowrap;
}
#historic-tables th {
    border: 1px solid #424548;
    font-weight: bold;
    background-color: #101014;
    color: #f8f9fa;
    padding: 0.5em;
    font-size: 16px;
}
#historic-tables td {
    border: 1px solid #424548;
    font-size: 14px;
    padding: 0.4em;
}

#slider-contract-employees {
    width: auto;
}

#view-driver-infos{
    width: 100%;
    text-align: start;
    font-size: 14px;
}
#view-driver-infos td:first-child{
    text-align: end;
    padding: 5px;
}
#view-employees-infos{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: start;
    font-size: 14px;
}
#view-employees-infos h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#view-employees-infos td:first-child{
    text-align: end;
    padding: 5px;
}

#employees-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#employees-actions div {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

#employees-actions div button {
    margin: 5px;
    width: 100px;
    background-color: #a49ee6;
}
#employees-actions div button:last-child {
    background-color: #e69298;
}

#select-team {
    padding: 1em;
    margin: 2em;
    font-size: 16px;
    min-width: 15em;
}

#game-options {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
#game-options div{
    padding: 5px 0px;
    display: flex;
    align-items: center;
    width: 100%;
}

#select-engine{
    border-collapse: collapse;
}
#select-engine th{
    background-color: #333;
    border: 1px solid #5c5c5c;
    color: #f5f5f5;
    padding: 5px;
}
#select-engine td{
    border: 1px solid #5c5c5c;
    padding: 5px;
    min-width: 75px;
}
#select-engine button{
    margin: 0;
}
#select-engine td:last-child,
#select-engine th:last-child{
    border: 0;
    background-color: transparent;
}

#market table, #market-eng table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}
#market td, #market-eng td {
    font-size: 12px;
    border: #777 1px solid;
    padding: 5px;
}
#market th, #market-eng th {
    font-size: 16px;
    border-bottom: #555 1px solid;
}
#market tr:nth-child(even), #market-eng tr:nth-child(even) {
    background-color: #f5f5f5ad;
}
#market button, #market-eng button {
    margin: 0;
    font-size: 12px;
}
#market td:first-child {
    width: 35px;
    text-align: center;
    border-right: transparent;
}
#market td:nth-child(2) {
    text-align: start;
    border-left: transparent;
}
#market tr:hover, #market-eng tr:hover{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    background-color: #ffff99;
}
#market tr:hover:first-child:hover, #market-eng tr:first-child:hover{
    cursor: default;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
}

#negotiate-market{
    display: flex;
    justify-content: space-evenly;
}
#negotiate-market select{
    padding: 10px;
}

#change-eng-table{
    width: 100%;
    padding: 0;
    height: fit-content;
    border-collapse: collapse;
    font-size: 12px;
}
#change-eng-table td{
    font-family: "F1";
    color: #222;
    padding: 5px 10px;
}
#change-eng-table td:first-child{
    background-color: #5c5c5c;
    border: 1px solid black;
    color: #f5f5f5;
}
#change-eng-table td:last-child{
    background-color: transparent;
    border: 0;
}

.hide-btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 24px;
}
.hide-btn:hover {
	background-color: transparent !important;
}

#select-function {
    padding: 1em;
}

#contract-eng{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#contract-eng p{
    font-size: 16px;
}

#balance-financial-report {
    padding: 2px;
    font-size: 18px;
}
#balance-financial-report:hover {
    text-shadow: 1px 1px 5px #81818182;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

#serial-key-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#serial-key-screen div {
    display: flex;
    align-items: center;
    max-width: max-content;
}
#serial-key-screen div > input {
    font-size: 13.5px; 
    width: 365px;
    margin: 0.5em 0.5em;
}
#serial-key-screen > div:nth-child(1) > label {
    margin: 0.5em 0.5em;
}
#serial-key-screen a {
    color: #373737;
    text-decoration: underline;
}
#serial-key-screen a:hover {
    filter: drop-shadow(2px 2px 5px #00000050);
}
#serial-key-screen p {
    max-width: 800px;
    line-height: 1.5;
    margin: 10px;
    font-size: 14px; 
}

#news-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 400px;
    height: 50%;
    justify-content: space-evenly;
    overflow-x: overlay;
    min-width: 600px;
}
#news-container li {
    font-size: 12px;
    text-align: start;
    list-style-type: square;
}
#news-container li:hover {
    background-color: #FFDF9F;
    cursor: pointer;
    text-decoration: underline;
}
#news-content {  
    width: 60%;
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#headlines {
    overflow-y: overlay;
    padding: 0 10px;
    height: 400px;
    min-width: 30%;
}
#news-content img:first-child {
    height: 40%;
    max-width: 60%;
}
#news-content p {
    font-size: 12px;
    text-align: start;
    margin: 5px;
    padding: 10px;
    line-height: 1.5;
    background-color: #f0f0f0;
    border-radius: 0.25em;
    width: 95%;
    color: #505050;
}
#news-container > button {
    background-color: transparent;
    border: 0;
    font-size: 18px;
    position: absolute;
    left: 1em;
    top: 2em;
    padding: 0;
}
.not-viewed-news {
    color: #0000EE;
}
#news-driver-hire {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#news-driver-hire div:first-child {
    margin: 0 10px;
    width: 30vh;
    max-width: 200px;
}
#news-driver-hire i {
    font-size: 48px;
    margin-left: 20px;
}
#news-driver-hire img:last-child {
    background-color: #50505027;
    padding: 0.75em;
    border-radius: 1em;
}

#news-driver-hire-breaking {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#news-driver-hire-breaking h1 {
    font-family: 'f1';
}
#news-driver-hire-breaking h2 {
    font-weight: lighter;
    font-family: 'Montserrat';
    font-size: 12px;
}
#news-driver-hire-breaking img {
    width: 100%;
}

#select-db {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#select-db div {
    margin: 20px;
}
#select-db select {
    min-width: 100px;
    padding: 5px;
}
#select-db input {
    margin: 10px;
}
#select-db button {
    font-size: 12px;
    padding: 0.5em;
}

#view-reputation {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#view-reputation h4 {
    font-size: 16px;
    margin: 10px 0px;
}
#view-reputation div {
    padding: 10px;
    max-width: 200px;
}

#other-series-standings {
    display: flex; 
    flex-direction: row;
    max-width: 100%;
    overflow: overlay;
    height: 100%;
}
#other-series-standings div {
    margin: 5px;
}
#other-series-standings td {
    font-size: 10px;
}
#other-series-standings h1 {
    background-color: #333;
    font-size: 14px;
    color: #f5f5f5;
}

#buttons-raceSim {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: max-content;
}
#buttons-raceSim button{
    margin: 5px;
    font-size: 28px;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

#play-anthem {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 28px;
    padding: 0;
    margin: 0;
    background: white;
    height: auto;
}

#bank-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 50vh;
}
#bank-container p {
    font-size: 14px;
}
#bank-container > div {
    width: 50%;
}
#bank-container h2 {
    margin-bottom: 2em;
    font-size: 16px;
}
#bank-container input {
    width: 50%;
}
#bank-container > div:nth-child(2) {
    border-left: 1px solid #5c5c5c;
}
#bank-container button {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #7066e0;
    color: #fff;
    font-size: 1em;
    margin: 0.3125em;
    padding: 0.625em 1.1em;
    transition: box-shadow .1s;
    box-shadow: 0 0 0 3px rgba(0,0,0,0);
    font-weight: 500;
}
#bank-container button:hover {
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px black);
}
#loans-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.loan {
    border: 1px solid #5c5c5c;
    background-color: #c4c4c4;
    color: #333;
    width: 100px;
    padding: 0.5em;
    margin: 2px;
}