@import url("./game/drivers.css");

#team-menu {
    color: var(--text);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    display: none;
}
#button-list {
    height: 100vh;
}
#button-list p {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}
#button-list button {
    background-color: transparent;
    color: white;
    border: 0;
    display: flex;
    width: 95%;
    font-size: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
    text-align: start;
}
#button-list button:hover {
    background-color: #e5e5e531;
}
#button-list button img {
    filter: invert(100%);
    margin: 4px;
    width: 18px;
}
#btn-news span {
    background-color: #ff3434;
    padding: 2px;
    margin-left: 5px;
    min-width: 1.5em;
    border-radius: 100%;
    text-align: center;
}
.no-news {
    opacity: 0;
}
#team-menu-interface {
    width: 100%;
    max-width: 1500px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: overlay;
    align-items: flex-start;
}
@media screen and (min-height: 580px) {
    #team-menu-interface {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 660px) {
    #team-menu-interface {
        justify-content: flex-start;
    }
}
#team-menu-interface > div {
    margin: 0 5px;
}

#drivers-car-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#info {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border);
    box-shadow: 1px 1px #222;
    text-align: center;
    background-color: var(--bg);
    white-space: nowrap;
}
#info h1{
    padding: 5px 0px 5px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#info .country-flag{
    margin-right: 5px;
}
#info h2{
    white-space: wrap;
}

#team p {
    margin: 0;
}
#team div:nth-child(n+2) {
    text-align: center;
    padding: 5px;
}
#team div:hover:nth-child(n+2) {
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
#team div:nth-child(n+2) img {
    align-self: center;
    padding-right: 5px;
    vertical-align: middle;
}
#team-logo {
    margin: 5px;
}

#coach {
    align-self: flex-start;
}

#next-race {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#next-race-name {
    margin: 10px;
    font-size: 14px;
}
#next-race-name h2:first-child{
    margin-bottom: 5px;
}
#next-race-name .country-flag{
    margin-right: 5px;
}
#next-race-track-img{
    filter: drop-shadow(0px 0px 4px black);
}

#btn-play{    
    padding: 0.2em 0.5em;
    display: block;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    font-family: "f1";
    font-weight: bold;
    border: 2px solid #333;
    letter-spacing: 1px;
    text-align: center;
    transition: all .35s;
}

#players {
    margin: 10px;
}

#trust {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

#trust h2 {
    margin-bottom: 5px;
}
#trust div {
    margin: 0;
}
#trust > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

#car {
    border: 2px solid var(--border);
    text-align: center;
    display: flex;
    width: 100%;
}
#car > div{
    background-color: var(--bg);
    width: 100%;
}
#car > div:nth-child(n+2){
    border-left: 2px solid var(--border);
}
#car > div > table {
    border-spacing: 0px;
    margin: 5px 0px;
}
#engine h2{
    margin: 5px;
    font-size: 12px;
}

.bars-table {
    display: flex;
    justify-content: center;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 12px;
    margin: 5px 0;
}
.bars-table td {
    padding: 0;
    text-align: start;
}
.bars-table td:nth-child(1) {
    padding: 0 5px;
    padding-right: 2px;
    text-align: end;
}
.bars-table td:nth-child(2) {
    font-size: 12px;
    padding: 0 5px;
    padding-left: 2px;
}
.no-border {
    border: 0 !important;
}

#engineering > div {
    min-width: fit-content;
}

#engineering {
    text-align: center;
    border: 2px solid var(--border);
    background-color: var(--bg);
}
#engineering table,
#development table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 12px;
}
#engineering th,
#development th {
    padding-right: 5px;
    background-color: var(--border);
    color: var(--titles);
    text-align: end;
    height: 20px;
    padding: 0px 5px;
}
#development th {
    padding: 4px;
}
#engineers-name td:first-child {
    text-align: end;
}
#engineers-name button {
    margin: 0;
}
#new-car {
    width: 100%;
    margin-bottom: 10px;
}
#new-car th{
    font-family: "F1";
    text-align: center;
    font-size: 14px;
    padding: 5px 0px;
}
#new-car tr:nth-child(2) > td {
    padding-top: 5px;
}
#new-car td{
    padding: 0px;
}
#new-car td:first-child{
    text-align: end;
    padding-right: 5px;
}
#new-car > tbody > tr:nth-child(7) > td:nth-child(2) {
    max-width: 100px;
}

#dev-pts td:first-child {
    text-align: end;
    width: 50%;
}
#dev-pts {
    display: flex;
    flex-direction: row;
    border: 0px solid var(--border);
    border-top: 2px solid var(--border);
    justify-content: center;
}
#dev-pts div {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#dev-pts > div:first-child {
    border-right: 2px solid var(--border);
}
#dev-pts h1 {
    font-size: 12px;
    background-color: transparent;
    color: var(--text);
}
#dev-pts h2 {
    padding: 5px 0;
}
#dev-focus td,
#dev-focus td {
    text-align: start;
}
#dev-focus td:first-child {
    width: 100%;
}
#dev-focus td {
    min-width: 45px;
    text-align: center;
}

#development {
    text-align: center;
    white-space: nowrap;
    background-color: var(--border);
}
#development div {
    border: 2px solid var(--border);
    background-color: var(--bg);
}
#development table {
    width: 100%;
    padding: 5px;
}
#development td:nth-child(2) {
    min-width: 40px;
}
#development th {
    text-align: center;
    font-size: 12px;
}
#development .total-investments {
    text-align: end;
}
#development td:nth-child(1) {
    padding: 4px 2px;
}

.btn-eng-name {
    width: 100%;
	padding: 5px;
	margin: 0;
	background-color: transparent;
    cursor: pointer;
    box-shadow: 0px 0px transparent;
    border: 1px solid transparent;
    font-size: 10px;
    font-weight: bold;
    color: var(--text);
	border-radius: 0;
    max-width: 100px;
}
.btn-eng-name:hover {
    background-color: var(--border);
    border: 1px solid var(--text);
    filter: drop-shadow(0px 0px 1px var(--text));
    color: var(--titles);
    cursor: pointer;
}

#engineers-name > tbody > tr:nth-child(7) > td > div {
    width: 98%;
}

@media (max-width: 1200px) {
    h1, h2, td, th, .btn-driver-name, #new-car th, .btn-eng-name,
    .bars-table td:nth-child(2), #new-car > tbody > tr:nth-child(7) > td:nth-child(2),
    #engineers-name > tbody > tr:nth-child(2) > td > button {
        font-size: 10px;
    }
    p {
        font-size: 8px;
    }
    .progress-bar {
        font-size: 10px;
    }
    .progress-bar-background {
        width: 40px;
    }
    .progress-bar span {
        padding: 0px 20px;
    }
    .slider {
        width: 80px;
    }
    button {
        padding: 2px;
        font-size: 10px;
    }
    #btn-play {
        padding: 10px 1em;
        font-size: 14px;
    }
    #engineering th, #development th {
        font-size: 10px;
    }
    #team-logo {
        width: 75px;
    }
}

@media (max-width: 800px) {
    body, :root {
        padding-bottom: 10px;
    }
    button {
        padding: 5px;
    }
    #button-list p {
        font-size: 0;
    }
    #team-menu > nav > ul {
        display: flex;
    }
    #info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 10px;
        justify-content: space-around;
    }
    #info h1 {
        padding: 5px;
    }
    #next-race {
        justify-content: space-between;
    }
    #drivers {
        justify-content: center;
    }
    #test-driver, #academy-drivers {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #test-driver h1, #academy-drivers h1 {
        width: 98%;
    }
    #test-driver .btn-driver-name,
    #academy-drivers .btn-driver-name {
        font-size: 10px;
        width: max-content;
        padding: 5px;
    }
    #car,
    #drivers{
        border: 0;
    }
    #car,
    #engineering{
        display: flex;
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    #car{
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 15px;
    }
    #car h1,
    #engineering h1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #engineering > div{
        border: 1px solid var(--border);
    }   
    #drivers-car-section {
        margin-left: 0;
    }
    .driver-card {
        border: 2px solid var(--border) !important; 
    }
    #main-menu img {
        height: 128px;
    }
}