#race {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 70vh;
}

#time-table {
    max-height: 100%;
    overflow-y: overlay;
}
#time-table table {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
    box-shadow: 1px 1px #222;
    width: 100%;
}
#time-table th {
    border: 1px solid #222;
    font-size: 14px;
    font-weight: bold;
    background-color: #101014;
    color: #f8f9fa;
    padding: 5px;
    box-shadow: 1px 1px 2px #555;
    white-space: nowrap;
}
#time-table tr:hover{
    background-color: #ffff99;
    font-weight: bold;
}
#time-table td:first-child {
    background-color: #101014;
    color: #f8f9fa;
    font-weight: bold;
    width: 50px;
}
#time-table td {
    border: 1px solid #424548;
    padding: 2px;
    text-align: center;
    color: #1c1c1c;
    width: 200px;
}
#time-table td:first-child {
    width: 45px;
}
#time-table .tire-strategy {
    letter-spacing: 2px;
    width: max-content;
}

#podium {
    background-image: url("../img/podium.webp");
    min-height: 387px;
    min-width: 387px;
    max-height: 387px;
    max-width: 387px;
    border: 1px solid #222;
}
.podium-img {
    height: 120px;
    width: 90px;
    border: 1px solid #333;
    margin: 5px;
    position: relative;
}
#podium img:nth-child(1) {
    top: 210px;
    left: 35px;
}
#podium img:nth-child(2) {
    top: 175px;
    left: 35px;
}
#podium img:nth-child(3) {
    top: 210px;
    left: 35px;
}
#podium img:nth-child(4) {
    top: 35px;
    left: -160px;
    height: auto;
    width: 50px;
    max-height: 30px;
}

#end-season h1 {
    background-color: transparent;
    color: #000;
    font-size: 18px;
}
#end-season table {
    width: 100%;
    border-collapse: collapse;
    color: #000;
}
#end-season th {
    border: 1px solid #424548;
    font-weight: bold;
    background-color: #101014;
    color: #f8f9fa;
}
#end-season td {
    border: 1px solid #424548;
    font-size: 14px;
    padding: 0.4em;
}
#end-season td:nth-child(-n+2),
#end-season td:last-child {
    width: 40px;
}

#end-season td {
    width: 200px;
}
#end-season tr:nth-child(2) {
    font-weight: bold;
}

.grid-status-pole {
    background-color: #a829d680;
}
.grid-status-done-Q2 {
    background-color: #96969680;
}
.grid-status-done-Q1 {
    background-color: #50505080;
}

#race-cars {
    background-color: #494949;
    z-index: 999;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 450px;
    height: 450px;
    border: 1px solid;
    padding: 0px;
    padding-right: 5px;
    align-items: flex-start;
    border-right: 5px dashed #b5b5b5;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
#race-cars div {
    position: absolute;
    color: white;
    font-weight: bold;
    top: 425px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.car-icon {
    rotate: 90deg;
}
.car-transition {
    transition: left 0.5s ease, top 0.5s , z-index 0.5s ease;
}
#race-cars p {
    font-size: 10px;
    margin-right: 5px;
    background-color: #222;
    border-radius: 5%;
    padding: 1px;
    width: 25px;
}

#race-status{
    position: absolute;
    top: 0px;
    left: 300px;
    width: 100px;
}

@media (max-width: 900px) {
    #race{
    }
    #race-cars {
        min-width: 200px;
    }
}

.tire-hard {
    border: 1px solid white;
}

.tire-medium {
    border: 1px solid yellow;
}

.tire-soft {
    border: 1px solid red;
}

.tire-wet {
    border: 1px solid blue;
}

.retired {
    opacity: 0.75;
    filter: sepia(0.5);
}